.button {
  cursor: pointer;
  color: var(--primary-color)
}

.primary {
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 15px;
  color: var(--inverted-bg-color);
  background-color: none;
  box-shadow: 1px 1px 15px -10px var(--inverted-bg-color);
}

.clear {
  padding: 0;
  background: none;
  border: none;
  outline: none;
}

.outline {
  padding: 10px;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  background-color: none;
}